<!DOCTYPE html>
<html> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My Telerik MVC Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")

	
    <script>
        kendo.culture("ru-RU");
    </script>

</head>
<body>
    <div class="page">
        <header>
            <div>
                <div id="user" style="display:inline-block; background-color:rgb(63, 63, 63); font-weight: bold; float:right; height:100%; padding: 15px;margin: 10px 0px; color:white;">
                    <span style="font-size: 1.2em;">@(((FilesConverting.WebUI.Models.CustomPrincipal)User).FIO)</span>
                </div>
                <h1>МСК ЕВ V</h1>
            </div>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer></footer>
    </div>
</body>
</html>
